#container{
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    width: 84%;
    height: 95%;
    top: 20px;
    left: 20px;
    background-color: white;
    z-index: -1;
    cursor: crosshair;
}
