<div class = "SshapesKit">
    <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawCircle()"></app-button>
    <app-button btnClass = "key" btnShape = "ellipse" (btnClick)="drawEllipse()"></app-button>
    <app-button btnClass = "key" btnShape = "square" (btnClick)="drawSquare()"></app-button>
    <app-button btnClass = "key" btnShape = "rectangle" (btnClick)="drawRect()"></app-button>
    <app-button btnClass = "key" (btnClick)="drawCircle()"></app-button>
    <app-button btnClass = "key" (btnClick)="drawCircle()"></app-button>
    <app-button btnClass = "key" (btnClick)="drawCircle()"></app-button>
    <app-button btnClass = "key" (btnClick)="drawCircle()"></app-button>
    <app-button btnClass = "key" (btnClick)="drawCircle()"></app-button>
    <app-button btnClass = "key" (btnClick)="drawCircle()"></app-button>
    <app-button btnClass = "key" (btnClick)="drawCircle()"></app-button>
    <app-button btnClass = "key" (btnClick)="drawCircle()"></app-button>
    <app-button btnClass = "key" (btnClick)="drawCircle()"></app-button>
    <app-button btnClass = "key" (btnClick)="drawCircle()"></app-button>
    <app-button btnClass = "key" (btnClick)="drawCircle()"></app-button>
</div>
