button {
    width: 20%;
    aspect-ratio: 1;
    background-color: rgb(128,128,128);
    color: black;
    font-weight: bolder;
    margin: 2%;
    padding: 1%;
    border-radius: 10px;
    border: solid 1px black;
    transition: all 0.2s;
}

button:hover {
    background-color: rgba(128,128,128,0.6);
}

button:active {
    background-color: rgba(128,128,128,0.2);
}

.tool {
    position: relative;
    width: 40%;
    height: 33px;
}
