button {
    width: 33px;
    height: 33px;
    background-color: white;
    color: navy;
    font-size: 16px;
    font-weight: bolder;
    margin: 7px;
    padding: 0;
    border-radius: 10px;
    border: solid 1px navy;
    vertical-align: top;
    text-align: center;
    transition: all 0.2s;
}

button:hover {
    background-color: navy;
    color: white;
    border: none;
}

button:active {
    background-color: #5a5ada;
}

.save-load {
    position: relative;
    top: 80px;
    width: 80px;
    height: 33px;
}
