button {
    width: 33px;
    height: 33px;
    background-color: rgb(128,128,128);
    color: black;
    font-size: 16px;
    font-weight: bolder;
    margin: 5px;
    padding: 0;
    border-radius: 10px;
    border: solid 1px black;
    vertical-align: top;
    text-align: center;
}

button:hover {
    background-color: rgba(128,128,128,0.6);
}

button:active {
    background-color: rgba(128,128,128,0.2);
}

.tool {
    position: relative;
    width: 40%;
    height: 33px;
}
