#container{
    display: inline-block;
    position: absolute;
    width: 960px;
    height: 640px;
    top: 40px;
    left: 25px;
    background-color: white;
    z-index: -1;
    cursor: 'crosshair';
}