<div class = "SshapesKit">
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "ellipse" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "square" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "rectangle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "rounded_rectangle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "triangle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "right_triangle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "brush" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
</div>
