<app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
<app-button btnClass = "key" btnShape = "ellipse" (btnClick)="drawShape($event)"></app-button>
<app-button btnClass = "key" btnShape = "square" (btnClick)="drawShape($event)"></app-button>
<app-button btnClass = "key" btnShape = "rectangle" (btnClick)="drawShape($event)"></app-button>
<app-button btnClass = "key" btnShape = "triangle" (btnClick)="drawShape($event)"></app-button>
<app-button btnClass = "key" btnShape = "right_triangle" (btnClick)="drawShape($event)"></app-button>
<app-button btnClass = "key" btnShape = "brush" (btnClick)="drawShape($event)"></app-button>
<app-button btnClass = "key" btnShape = "diamond" (btnClick)="drawShape($event)"></app-button>
<app-button btnClass = "key" btnShape = "pentagon" (btnClick)="drawShape($event)"></app-button>
<app-button btnClass = "key" btnShape = "hexagon" (btnClick)="drawShape($event)"></app-button>
<app-button btnClass = "key" btnShape = "diamond_star" (btnClick)="drawShape($event)"></app-button>
<app-button btnClass = "key" btnShape = "penta_star" (btnClick)="drawShape($event)"></app-button>
<app-button btnClass = "key" btnShape = "hexa_star" (btnClick)="drawShape($event)"></app-button>
<app-button btnClass = "key" btnShape = "line_segment" (btnClick)="drawShape($event)"></app-button>
<app-button btnClass = "key" btnShape = "eraser" (btnClick)="drawShape($event)"></app-button>
