<div class = "SshapesKit">
  <app-button btnClass = "key" btnText="◯" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnText="⬭" btnShape = "ellipse" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnText="◻" btnShape = "square" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnText="▭" btnShape = "rectangle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnText="▭" btnShape = "rounded_rectangle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnText="△" btnShape = "triangle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnText="◺" btnShape = "right_triangle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnText="✎" btnShape = "brush" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "pentagon" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "hexagon" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
  <app-button btnClass = "key" btnShape = "circle" (btnClick)="drawShape($event)"></app-button>
</div>
