<div class = "Stoolbar">
    <div class="tools">
    <img class="image" src="assets/icons/stroke.svg" width="32" height="32">
    <input readonly class="color-picker"
      [style.background]="strokeColor"
      [(colorPicker)]="strokeColor"
      (colorPickerChange)="pickStrokeColor()"
      [cpOKButton]="true"
      [cpSaveClickOutside]="false"
      [cpOKButtonClass]= "'btn btn-primary btn-xs'"
      [cpEyeDropper]="true"
      (colorPickerSelect)="colorIt()"
    />
    <img class="image" src="assets/icons/fill.svg" width="32" height="32">
    <input readonly class="color-picker"
      [style.background]="fillColor"
      [(colorPicker)]="fillColor"
      (colorPickerChange)="pickFillColor()"
      [cpOKButton]="true"
      [cpSaveClickOutside]="false"
      [cpOKButtonClass]= "'btn btn-primary btn-xs'"
      [cpEyeDropper]="true"
      (colorPickerSelect)="colorIt()"
    />
    </div>
    <div class="tools">
        <p>Stroke Width</p>
        <input type="range" id = "myinput" (input)="pickStrokeWidth($event)" [value] = "strokeWidth" min="5" max="50" step="5" (change)="colorIt()">
        <p>{{strokeWidth}}</p>
    </div>
    <div class="tools">
    <app-shapeskit></app-shapeskit>
    </div>
    <div class="tools">
    <app-button btnClass="tool" btnText="select" (btnClick)="select()"></app-button>
    <app-button btnClass="tool" btnText="remove" (btnClick)="remove()"></app-button>
    <app-button btnClass="tool" btnText="save" (btnClick)="save()"></app-button>
    <app-button btnClass="tool" btnText="load" (btnClick)="load($event)" btnShape="load"></app-button>
    <app-button btnClass="tool" btnText="undo" (btnClick)="undo()"></app-button>
    <app-button btnClass="tool" btnText="redo" (btnClick)="redo()"></app-button>
    </div>
    <div class="tools">
    <input class="selector" type="file" id="file" accept=".xml, .json" (change)="load($event)">
    </div>
  </div>
