.Stoolbar{
    display: inline-block;
    position: fixed;
    width: 13%;
    height: 95%;
    top: 20px;
    right: 20px;
    background-color: rgb(28,28,28);
    text-align: center;
    border-radius: 20px;
}

.tools {
    width: 90%;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(60,60,60);
    border: none;
    position: relative;
    vertical-align: center;
    text-align: center;
}
.selector {
    display: none;
}

.color-picker {
  cursor: pointer;
  position: relative;
  top: 0;
  margin-bottom: 3%;
  margin-top: 3%;
  width: 72%;
  aspect-ratio: 6;
  border-radius: 10px;
  border: 1px solid black;
  transition: all 0.2s;
}

.color-picker:hover{
    opacity: 0.7;
}
.color-picker:active{
    opacity: 0.4;
}

.color-picker::-webkit-color-swatch-wrapper{
    padding: 0;
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
}

.image {
    filter: invert(85%) sepia(8%) saturate(12%) hue-rotate(356deg) brightness(75%) contrast(89%);
    position: relative;
    top: 9px;
}

.custom-file{
    background-color: rgb(128,128,128);
    color: black;
    font-weight: bolder;
    width: 40%;
    aspect-ratio: 2.5;
    margin: 2%;
    padding: 2.6% 15% 1.9%;
    border-radius: 10px;
    border: solid 1px black;
    cursor: pointer;
    transition: all 0.2s;
}

.custom-file:hover {
    background-color: rgba(128,128,128,0.6);
}

.custom-file:active {
    background-color: rgba(128,128,128,0.2);
}
