<div class = "Stoolbar">
    <input readonly class="color-picker" placeholder="Stroke"
      [style.background]="color"
      [(colorPicker)]="color"
      (colorPickerChange)="pickColor()"
    >
    <input readonly class="color-picker" placeholder="Fill"
      [style.background]="fillColor"
      [(colorPicker)]="fillColor"
      (colorPickerChange)="pickFillColor()"
    >
    <div>
        <p>Thickness</p>
        <input type="range" (change)="pickThickness($event)" min="1" max="100">
        <p>{{thickness}}</p>
    </div>
    <app-shapeskit></app-shapeskit>
    <app-button (btnClick)="save"></app-button>
    <app-button (btnClick)="load"></app-button>
</div>
